In [1]:
import pandas as pd 
import numpy as np 
import datetime as dt

In [2]:
X = pd.read_csv('../Datasets/tupras_X_train.csv')
y = pd.read_csv('../Datasets/tupras_y_train.csv')

train = pd.merge(X, y, on='period', how='left')
train['period'] = pd.to_datetime(train['period'])
train['week'] = train['period'].dt.isocalendar().week
train['year'] = train['period'].dt.year

train.head()

,period,gasoline_imports,gasoline_exports,crude_imports,crude_exports,gasoline_stocks,crude_stocks,distillate_fuel_stocks,jet_stocks,propane_stocks,...,conventional_gasoline_spot_price,crude_brent_spot_price,gasoline_future_price1,gasoline_future_price2,gasoline_future_price3,gasoline_future_price4,gasoline_demand,target,week,year
0,2010-10-15,779,200,8600,33,219329,1066948,170055,47088,63549,...,2.202,83.11,2.139,2.119,2.128,2.146,9460,10639,41,2010
1,2010-10-22,999,200,9463,33,214942,1071996,168442,46829,64284,...,2.146,81.43,2.077,2.063,2.076,2.097,10639,10036,42,2010
2,2010-10-29,871,200,8578,33,212253,1073946,164874,45830,64469,...,2.122,82.25,2.098,2.072,2.085,2.106,10036,9886,43,2010
3,2010-11-05,802,200,8089,33,210336,1070399,159902,45940,63833,...,2.174,85.60,2.140,2.149,2.170,2.193,9886,9706,44,2010
4,2010-11-12,562,167,7864,34,207679,1063113,158792,44817,64776,...,2.242,87.43,2.209,2.194,2.207,2.226,9706,9286,45,2010

In [3]:
covid_cases = pd.read_csv('../Datasets/External Datasets/eng_vaka.csv')
covid_deaths = pd.read_csv('../Datasets/External Datasets/eng_deaths.csv')


covids = pd.merge(covid_cases, covid_deaths, on='tarih', how='left')
covids = covids.dropna()

covids['tarih'] = pd.to_datetime(covids['tarih'])

covids.head()

        tarih  gunluk_vaka  toplam_vaka  gunluk_olum  toplam_olum
26 2023-03-24         3735     20727139         92.0     189338.0
27 2023-03-23         3959     20723404         84.0     189246.0
28 2023-03-22         4319     20719445         75.0     189162.0
29 2023-03-21         4750     20715126         98.0     189087.0
30 2023-03-20         4730     20710376         72.0     188989.0

In [4]:
test = pd.read_csv('../Datasets/tupras_X_test.csv')
test['period'] = pd.to_datetime(test['period'])
test.head()

,period,gasoline_imports,gasoline_exports,crude_imports,crude_exports,gasoline_stocks,crude_stocks,distillate_fuel_stocks,jet_stocks,propane_stocks,...,jet_output,propane_output,residual_fuel_output,conventional_gasoline_spot_price,crude_brent_spot_price,gasoline_future_price1,gasoline_future_price2,gasoline_future_price3,gasoline_future_price4,gasoline_demand
0,2020-03-27,736,673,6047,3155,246806,1104160,122248,38268,59134,...,1129,2100,221,0.499,23.96,0.504,0.565,0.614,0.662,6444
1,2020-04-03,493,770,5874,2833,257303,1119337,122724,38861,59027,...,872,2007,163,0.528,18.72,0.612,0.660,0.719,0.769,4041
2,2020-04-10,402,755,5680,3436,262217,1138585,129004,40239,56780,...,715,2052,170,0.610,22.53,0.676,0.741,0.796,0.838,4860
3,2020-04-17,368,784,4937,2890,263234,1153607,136880,40792,57442,...,646,2057,210,0.609,20.00,0.712,0.766,0.815,0.853,5643
4,2020-04-24,228,905,5302,3302,259565,1163748,141972,39695,56835,...,602,2044,187,0.568,14.24,0.624,0.673,0.715,0.750,6583

In [5]:
covids['week'] = covids['tarih'].dt.isocalendar().week
covids['year'] = covids['tarih'].dt.year
covids.head()

        tarih  gunluk_vaka  toplam_vaka  gunluk_olum  toplam_olum  week  year
26 2023-03-24         3735     20727139         92.0     189338.0    12  2023
27 2023-03-23         3959     20723404         84.0     189246.0    12  2023
28 2023-03-22         4319     20719445         75.0     189162.0    12  2023
29 2023-03-21         4750     20715126         98.0     189087.0    12  2023
30 2023-03-20         4730     20710376         72.0     188989.0    12  2023

In [6]:
covids.sort_values('tarih', inplace=True);covids.head()

,tarih,gunluk_vaka,toplam_vaka,gunluk_olum,toplam_olum,week,year
1175,2020-01-30,1,1,1.0,1.0,5,2020
1174,2020-01-31,0,1,0.0,1.0,5,2020
1173,2020-02-01,0,1,0.0,1.0,5,2020
1172,2020-02-02,1,2,1.0,2.0,5,2020
1171,2020-02-03,18,20,0.0,2.0,6,2020

In [7]:
covids_weekly = covids.groupby(['week','year']).agg({
    'tarih':'max',
    'gunluk_vaka':'sum',
    'toplam_vaka':'sum',
    'gunluk_olum':'sum',
    'toplam_olum':'sum'
}).reset_index()
covids_weekly.sort_values('tarih', inplace=True)
covids_weekly.astype({'gunluk_vaka':'int64',
                      'toplam_vaka':'int64',
                      'gunluk_olum':'int64',
                      'toplam_olum':'int64',
                      'tarih':'datetime64[ns]'})
covids_weekly.head()

    week  year      tarih  gunluk_vaka  toplam_vaka  gunluk_olum  toplam_olum
12     5  2020 2020-02-02            2            5          2.0          5.0
16     6  2020 2020-02-09           23          152          0.0         14.0
20     7  2020 2020-02-16            7          215          0.0         14.0
24     8  2020 2020-02-23            9          243          1.0         16.0
28     9  2020 2020-03-01           46          411          0.0         21.0

In [8]:
df = pd.merge(train, covids_weekly, on=['week','year'], how='left')

df.sort_values('period', inplace=True)

df.drop(['tarih', 'week', 'year'], axis=1, inplace=True)

df = df[['period','target', 'gunluk_vaka', 'toplam_vaka', 'gunluk_olum',
       'toplam_olum', 'gasoline_imports', 'gasoline_exports', 'crude_imports',
       'crude_exports', 'gasoline_stocks', 'crude_stocks',
       'distillate_fuel_stocks', 'jet_stocks', 'propane_stocks',
       'gasoline_net_input', 'gasoline_output', 'distillate_fuel_output',
       'jet_output', 'propane_output', 'residual_fuel_output',
       'conventional_gasoline_spot_price', 'crude_brent_spot_price',
       'gasoline_future_price1', 'gasoline_future_price2',
       'gasoline_future_price3', 'gasoline_future_price4', 'gasoline_demand']]

df[['gunluk_vaka', 'toplam_vaka', 'gunluk_olum', 'toplam_olum']] = df[['gunluk_vaka', 'toplam_vaka', 'gunluk_olum', 'toplam_olum']].fillna(0)
df.tail()

,period,target,gunluk_vaka,toplam_vaka,gunluk_olum,toplam_olum,gasoline_imports,gasoline_exports,crude_imports,crude_exports,...,jet_output,propane_output,residual_fuel_output,conventional_gasoline_spot_price,crude_brent_spot_price,gasoline_future_price1,gasoline_future_price2,gasoline_future_price3,gasoline_future_price4,gasoline_demand
488,2020-02-21,10076,9.0,243.0,1.0,16.0,405,842,6217,3657,...,1613,2139,235,1.688,58.61,1.650,1.768,1.760,1.744,9744
489,2020-02-28,10642,46.0,411.0,0.0,21.0,511,812,6238,4154,...,1640,2095,179,1.537,54.09,1.481,1.585,1.577,1.566,10076
490,2020-03-06,10941,367.0,2018.0,8.0,49.0,710,745,6412,3410,...,1631,2151,276,1.492,50.70,1.508,1.496,1.487,1.476,10642
491,2020-03-13,9176,2249.0,11146.0,89.0,323.0,688,603,6539,4378,...,1603,2062,290,1.044,33.72,1.040,1.050,1.065,1.077,10941
492,2020-03-20,6444,6425.0,41741.0,642.0,2697.0,834,835,6117,3850,...,1457,2084,294,0.667,25.65,0.666,0.678,0.707,0.737,9176

In [9]:
test['week'] = test['period'].dt.isocalendar().week
test['year'] = test['period'].dt.year

In [10]:
df_test = pd.merge(test, covids_weekly, on=['week','year'], how='left')

df_test.sort_values('period', inplace=True)

df_test.drop(['tarih', 'week', 'year'], axis=1, inplace=True)

df_test = df_test[['period', 'gunluk_vaka', 'toplam_vaka', 'gunluk_olum',
       'toplam_olum', 'gasoline_imports', 'gasoline_exports', 'crude_imports',
       'crude_exports', 'gasoline_stocks', 'crude_stocks',
       'distillate_fuel_stocks', 'jet_stocks', 'propane_stocks',
       'gasoline_net_input', 'gasoline_output', 'distillate_fuel_output',
       'jet_output', 'propane_output', 'residual_fuel_output',
       'conventional_gasoline_spot_price', 'crude_brent_spot_price',
       'gasoline_future_price1', 'gasoline_future_price2',
       'gasoline_future_price3', 'gasoline_future_price4', 'gasoline_demand']]

df_test.head()

,period,gunluk_vaka,toplam_vaka,gunluk_olum,toplam_olum,gasoline_imports,gasoline_exports,crude_imports,crude_exports,gasoline_stocks,...,jet_output,propane_output,residual_fuel_output,conventional_gasoline_spot_price,crude_brent_spot_price,gasoline_future_price1,gasoline_future_price2,gasoline_future_price3,gasoline_future_price4,gasoline_demand
0,2020-03-27,16468,127387,2490.0,13584.0,736,673,6047,3155,246806,...,1129,2100,221,0.499,23.96,0.504,0.565,0.614,0.662,6444
1,2020-04-03,26178,286014,6103.0,45075.0,493,770,5874,2833,257303,...,872,2007,163,0.528,18.72,0.612,0.660,0.719,0.769,4041
2,2020-04-10,27036,478674,8207.0,97631.0,402,755,5680,3436,262217,...,715,2052,170,0.610,22.53,0.676,0.741,0.796,0.838,4860
3,2020-04-17,27355,660001,7507.0,153242.0,368,784,4937,2890,263234,...,646,2057,210,0.609,20.00,0.712,0.766,0.815,0.853,5643
4,2020-04-24,27950,858328,6148.0,200977.0,228,905,5302,3302,259565,...,602,2044,187,0.568,14.24,0.624,0.673,0.715,0.750,6583

In [11]:
df.to_csv('../Datasets/Manipulated Data/train.csv', index=False)
df_test.to_csv('../Datasets/Manipulated Data/test.csv', index=False)